a {
    color: rgb(53, 3, 79);
}
div.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 31.24rem) {
    div.flex-middle {
        width: 100%;
        button {
            width: 80%;
        }
    }
}
