<div class="flex-middle">
    <button class="btn js-toggle-dark-mode">Dark colors</button>
</div>
<script>
    if (localStorage.getItem('theme') === 'dark') {
        jtd.setTheme('dark');
    }
    setTimeout(() => {

        const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

        jtd.addEvent(toggleDarkMode, 'click', function () {

            if (jtd.getTheme() === 'dark') {
                jtd.setTheme('light');
                localStorage.setItem('theme', 'light')
                toggleDarkMode.textContent = 'Dark colors';
            } else {
                jtd.setTheme('dark');
                localStorage.setItem('theme', 'dark')
                toggleDarkMode.textContent = 'Light colors';
            }
        });

    }, 400)
</script>